# Python
__pycache__/
.Python
env/
.venv/
venv/
ENV/
env.bak/
venv.bak/

# Django
*.log
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
static/

# Environment variables
.env

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db

# Celery
celerybeat-schedule
celerybeat.pid

# Redis dump
dump.rdb